.sq-form-question-datetime label {
  box-sizing: border-box;
  float: left;
}

.sq-form-question-datetime fieldset .styled-select {
  display: inline-block!important;
  margin-right: 1%!important;
  float: right!important;
}
